@page {
    /*size: landscape;*/
}
@media print {
    #nav, blockquote, #header, .side-left, .demand_upload, .block_commit_admin .legend-body .form-group:last-child, .public_block {
        display: none !important;
    }
    .form-control {
        height: 30px;
    }
    .legend-group {
        margin-bottom: 10px !important;
    }
    .input_adress {
        display: none;
    }
    .adress_print {
        display: block !important;
    }
}