html {
  position: relative;
  min-height: 100%;
}
body {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans !important;
	background-color: #fff;
	margin-bottom: 90px;
	font-size: 12px;
}


.navbar-inverse {
	margin-bottom: 0;
}



.side-left {
	width: 15% !important;
}
.side-content {
	/*width: 85% !important;*/
	width: 100% !important;
	border-left: 1px solid #EBEBEB;
	padding-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #EBEBEB;
}

/* Шапка */
.navbar-brand {
	font-weight: bold;
}


/* Главное меню  */
.nav a {
	font-size: 12px;
}
.navbar-inverse {
	border-radius: 0 !important;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #999;
}

/* Левое меню */
#left-menu .nav {
	margin-left: 15px !important;
	font-size: 13px;
}
#left-menu .first {
	font-weight: bold;
	font-size: 12px;
}
#left-menu a {
	padding: 3px 0 !important;
	display: block !important;
}

#left-menu a:hover {
	 background: #fff !important;
}


/* Меню груповых действий */
#actions-menu .ico {
	margin-right: 5px;
	opacity: 0.7;
}


/* Формы */
blockquote {
	padding: 0px 18px !important;
	margin-bottom: 30px;
}
blockquote p {
	font-size: 13px !important;
	line-height: 20px !important;
	margin: 0 !important;
}

.legend-group {
	margin-bottom: 30px;
}

.legend-group legend {
	font-size: 16px;
	color: #888;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;
}

.required label:after {
	content: " *";
	color: red;
	font-weight: bold;
	font-size: 13px;
	/*font-size: 18px;*/
}


/* Сообщения */
.alert {
	padding-top: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 8px !important;
}
.alert ul {
	padding-left: 20px !important;
}
/* .alert-dismissable, .alert-dismissible {
	padding-right: 28px !important;
} */


.alert .close {
	font-size: 17px;
}




/* Главное меню */





/* Панель кнопок */
#nav {
	height: 70px;
	user-select: none;
}
#nav .affix {
	top: -1px;
	border-radius: 0px 0px 4px 4px !important;
	background-color: #EEEEEE !important;
	border: 1px solid #7CADD1 !important;
	transition: background-color 500ms linear;
}
#nav .btn {
	font-size: 13px;
}
#nav .navbar-btn {
	z-index: 999;
	background-color: #f8f8f8;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
	padding: 8px 10px;
	margin: 0 !important;
}
#nav .navbar-brand {
	color: #666 !important;
	font-size: 22px;
	padding-left: 0;
}
#nav .navbar-brand small {
	font-weight: normal !important;

}

#filtr {
    margin: 30px 0;
}
#filtr .form-group {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}


/*
.control-label {
	font-size: 14px !important;
	width: 230px !important;
	color: #000 !important;
}
.controls {
	margin-left: 250px !important;
}

.form-actions {
	padding-left: 250px !important;
}

.help-block {
	color: #999;
	font-size: 12px;
}
.form-actions a, .form-actions button {
	margin-right: 5px;
}
.checkbox {
	font-size: 14px;
	-webkit-user-select: none;
       -moz-user-select: none
            user-select: none;
}

 */
/* #option_group .btn {
	margin-right: 10px;
}
#option_group .control-group {
	padding-bottom: 30px;
}

.typeahead li  {
	margin-bottom: 0 !important;
} */

/*
.options-list {
	list-style: none;
	margin: 0;
}
.options-list li {
	margin-bottom: 10px;
}
.options-list .ico-move {
	margin-right: 10px;
}
.options-list .ico-close {
	margin-left: 5px;
} */



/* Панель - поиска и фильтров */
/* .search-bar {
	text-align: right;
	margin-bottom: 10px;
}
.search-bar select {
	margin-right: 5px;
}

 */

/* code {
	font-size: 12px;
}


/* .dropdown .label {
	padding: 1px 4px!important;
	margin: 2px 0 0 0 !important;
	line-height: 12px!important;
	vertical-align: top!important;
}
 */



/* Список файлов  */
/* .filelist td {
	padding: 10px;
	vertical-align: middle;
}
.filelist input[type=checkbox] {
	margin: 0;
}
.filelist i {
	font-size: 16px;
}
.filelist-removed {
	opacity: 0.5;
}
.filelist-removed a {
	text-decoration: line-through;
} */



/* Таблицы */
.selection {
	border: none !important;
	width: 100%;
	border-top: none !important;
	border-right: 1px solid #dddddd !important;
	border-bottom: 1px solid #dddddd !important;
	border-left:none !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
.selection thead th {
	text-align: left !important;
	vertical-align: middle !important;
	background-color: #eee !important;
	color: #999 !important;
	line-height: 12px !important;
	font-weight: bold !important;
	border-top: 1px solid #dddddd !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: 1px solid #dddddd !important;
	font-size: 10px !important;
	font-weight: normal !important;
	text-transform: uppercase;
	padding-left: 5px !important;
}
.selection tbody td {
	vertical-align: middle !important;
	border-top: 1px solid #dddddd !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: 1px solid #dddddd !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	font-size: 11px;
}
.ui-sortable-helper {
	border-right: 1px solid #dddddd !important;
	border-bottom: 1px solid #dddddd !important;
}




.selection .ico {
	font-size: 14px;
	text-decoration: none !important;
}
.selection a.ico:hover {
	text-decoration: none !important;
}

.selection .muted,
.selection .muted a,
.selection .muted .ico  {
	color: #999999 !important;
}
.selection .muted img  {
	opacity: 0.5;
}


/* Checkbox */
.selection th.th-check {
	padding: 6px;
	width: 20px;
	text-align: center !important;
	background-image: none !important;

}
.selection td.td-check {
	padding: 5px 10px;
	width: 20px;
	text-align: center;
	font-size: 11px;
}

/* ID */
.selection th.th-id {
	padding: 6px;
	width: 20px;
	text-align: center;
}
.selection td.td-id {
	padding: 5px 10px;
	width: 20px;
	text-align: center;
}




.th-image {
	width: 90px;
	padding: 10px 0 !important;
}
.td-image {
	width: 90px;
	text-align: center !important;
	padding: 6px 0 !important;
}

/* Название */
th.th-name {
	padding: 6px !important;
}
td.td-name {
	text-align: left !important;
	padding: 5px 10px !important;
}
	.td-name small {
		display: block;
		text-align: justify;
		font-size: 11px;
		color: #666;
	}

	.td-name .livel_1 {padding-left: 0px;}
	.td-name .livel_2 {padding-left: 20px;}
	.td-name .livel_3 {padding-left: 40px;}
	.td-name .livel_4 {padding-left: 60px;}
	.td-name .livel_5 {padding-left: 80px;}
	.td-name .livel_1 a {font-size: 14px !important; font-weight: bold;}
	.td-name .livel_2 a {font-size: 13px !important; font-weight: bold;}
	.td-name .livel_3 a {font-size: 13px !important;}
	.td-name .livel_4 a {font-size: 12px !important;}
	.td-name .livel_5 a {font-size: 11px !important;}

/* Дата */
.th-date {
	width: 70px;
	padding: 10px 0 !important;
}
.td-date {
	width: 70px !important;
	text-align: center !important;
	padding: 6px 0 !important;
}

/* Дата */
.th-count {
	width: 70px;
	padding: 10px 0 !important;
}
.td-count {
	width: 70px;
	text-align: center !important;
	padding: 6px 0 !important;
}
.td-count .badge {
	font-size: 11px;
	font-weight: normal;
}





/* Статус публикации, удалить */
.th-icon {
	width: 40px !important;
}
.td-icon  {
	width: 40px !important;
	text-align: center !important;
}

/* ЧПУ */
.th-sef {
	width: 130px !important;
}
.td-sef  {
	width: 130px !important;
	text-align: left !important;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
}









/* .table th  a{
	color: #fff !important;
	text-decoration: underline;
} */


/* .table td {
	vertical-align: middle !important;
}
.table  i {
	font-size: 14px;
}

 */


/*
.td-checkbox {
	width: 15px;
	text-align: center !important;
}

.td-icon {
	width: 40px;
	text-align: center !important;
}
.td-icon a:hover {
	text-decoration: none !important;
}
 */



/*



.td-sku {
	width: 100px;
} */

/* Название / Имя */
/* .td-name {
	text-align: left !important;
}


.td-value {
	width: 100px;
	text-align: center !important;
}
.td-value i {
	font-size: 11px;
	text-decoration: line-through;
	font-style: normal;
}


 */
/* Маркированный список */
/* .td-list {
	width: 150px;
	text-align: left !important;
}

.td-count {
	width: 50px;
	text-align: center !important;
}





.table-small td {
	font-size: 11px;
}

.none {
	display: none;
}



*/

/* главное меню  */
/* .nav a {
	font-size: 14px;
}

.table {
	font-size: 12px;
}


 */
/* ui */
/* .ui-datepicker-trigger {
	margin-left: 5px;
} */


/* .text-success i, .text-success a  {
	color: #468847 !important;
}

.navbar-controls .navbar-inner {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-btn {
	float: right;
	margin-right: -5px;
}
.navbar-btn .btn {
	margin-right: 5px;
}  */


.opacity {
	opacity: 0.5;
}


/* Загрузка изображений */
.thumbnail-images {
	margin: 0;
	padding: 0;
	margin-right: -20px;
	overflow: hidden;
}
.thumbnail-images .thumbnail {
	background: #FBFBFB;
	float: left;
	width: 165px;
	height: 219px;
	margin: 0 20px 30px 0;
}
.thumbnail-images .caption {
	padding-bottom: 0 !important;

}
.thumbnail-images .form-group {
	margin-bottom: 10px !important;
}
.thumbnail-sort li,
.thumbnail-sort img {
	cursor: move;
}
.thumbnail-images label.checkbox {
	padding-left: 0;
}

/* Формы - колонки */
.form-cols {
	width: 100%;
}
.form-cols td {
	vertical-align: top;
}
.form-cols td.form-cols-first {
	padding: 0 20px 0 0;
}
.form-cols td.form-cols-center {
	padding: 0 20px 0 20px;
}
.form-cols td.form-cols-end {
	padding: 0 0 0 20px;
}


.input-small {
	width: 200px;
}

.datetimepicker {
	width: 150px;
}


/* Параметры товаров */
.params_list {
	padding: 0;
}
.params_list li {
	display: block;
	margin: 0 0 10px 0;
	padding: 10px 35px 10px 10px;
	position: relative;
}
.params_list .close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.params_list_item .ico-menu-2 {
	display: inline-block;
	margin-right: 15px;
}
.params_values {
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 0;
}
.params_values li {
	margin: 0 0 10px 0;
	padding: 0;
	width: 70%;
}

.params_prod_list table {
	width: auto;
}
.params_prod_list table td {
	vertical-align: middle !important;
	font-size: 11px !important;
}

.params_prod_list__selected {
	text-align: center;
	width: 40px;
}
.params_prod_list__name {
	padding-right: 30px !important;
}
.params_prod_list__markup {
	text-align: center;
	width: 150px;
}

.treeview ul {
	display: none;
}
.treeview li {
	line-height: 12px;
}
.treeview a {
	font-size: 12px;
}
.treeview input {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
.treeview label {
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



.sortable_list {
	margin-bottom: 20px;
	padding-left: 20px;
}
.sortable_list li {
	padding: 5px 5px 5px 0;
	height: 1.5em;
	font-size: 12px;
}
.sortable_list span {
	cursor: move;
}
.ui-sortable-helper {
	border: none !important;
}

/* Список файлов  */
.filelist td {
	padding: 5px;
	vertical-align: middle;
}
.filelist input[type=checkbox] {
	margin: 0;
}
.filelist i {
	font-size: 14px;
}
.filelist-removed {
	opacity: 0.5;
}
.filelist-removed a {
	text-decoration: line-through;
}

.well .close {
	margin-right: -13px;
	margin-top: -13px;
}

.move {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	margin-right: 8px;
	margin-top: -7px;
	font-size: 14px;
}
.navbar-nav.navbar-right:last-child {
	margin-right: -56px;
}
.mess_img_littile {

}
.mess_img_littile img {
    /*width: 200px;*/
}
.blockquote_admin img {
    /*width: 200px;*/
}

td iframe {
    width: 500px;
}
.container {
    width: 1360px;
}
.container .logo {
    width: 70px;
    margin: 0 auto 26px;
    display: block;
}
.navbar-right.demand {
    float: left !important;
}

.number_act {
    font-size: 14px;
}
.number_act input {
    width: 27%;
    display: inherit;
}
.selection {
    border-right: inherit !important;
}
.white a  {
    color: #fff;
}
#myModal {
    display: none;
}
.comment_hidden {
    display: none;
}
.filelist .form-control {
    display: none;
}
.select2 {
    width: 100% !important;
}
.demand_upload .border-control-group {
	min-height: 300px;
	/*width: 60%;*/
	/*display: inline-block;*/
	/*vertical-align: top;*/

}
.demand_upload .control-group {
    margin-bottom: 30px;
}
.border-control-group {
    background: #fcf8e3;
	border: 1px solid #faebcc;
	border-radius: 3px;
    /*background: rgba(66,139,202,0.28);*/
    padding: 15px;
    margin-bottom: 20px;
}
.demand_upload label {
    margin-bottom: 10px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.relation_item {
    width: 505px;
    overflow: hidden;
    margin: 0 auto 10px;
}
.relation_item_left {
    width: 70%;
    float: left;
}
.relation_item_right {
    width: 30%;
    float: right;
    text-align: right;
}
.navbar-brand {
    height: inherit;
}
#nav .navbar-brand {
    height: auto !important;
}
.navbar-collapse {
    padding-top: 18px;
}
.dropdown-menu {
    top: 120% !important;
}
.ico.active {
    color: orange;
}
.adress_print {
    display: none;
}
.modal-body .type {
    display: none;
}

.top_info {
    text-align: right;
}
.title_l{
    text-align: center;
}
.message .text_l {
    margin: 20px 0;
}
.message .text_l textarea {
    width: 100%;
}
.signature {
    margin: 100px 0;
    overflow: hidden;
}
.print {
    width: 154px;
    height: 154px;
    float: left;
}
.print img {
    width: 100%;
}
.sg {
    width: 100px;
    height: 100px;
}
.sg img {
    width: 100%;
}
.fio {
    float: left;
    margin-left: 50px;
}
.pdf_ico {
	background: url("../img/pdf_ico.jpg") 0 0 no-repeat;
	background-size: 100%;
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.table_service_r td, .table_service_r th {
	vertical-align: top;
	border: 1px solid #faebcc;
	padding: 10px;
}
.table_service_r {
	width: 100%;
}
.file_required {
	color: red;
}
#letter .modal-footer {
	text-align: center;
}
/*.demand_upload .border-control-group .control-group:first-child .control-label {*/
    /*display: none;*/
/*}*/
.green {
	background: #d9f9d9;
}
.red_order {
	background: #efd5de;
}