html, body {
	background: #fff !important;
	height: auto !important;
}
body {
	background: #fff !important;
	height: auto !important;
}

.frame_content {
	background: #fff !important;
	padding: 20px 40px 10px 40px;
	overflow: auto;
}