@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot');
	src:url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconfont.woff') format('woff'),
		url('fonts/iconfont.ttf') format('truetype'),
		url('fonts/iconfont.svg#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconfont';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ico-"] {
*/
.ico-home, .ico-home-2, .ico-office, .ico-newspaper, .ico-pencil, .ico-pencil-2, .ico-quill, .ico-droplet, .ico-paint-format, .ico-image, .ico-image-2, .ico-images, .ico-camera, .ico-music, .ico-headphones, .ico-play, .ico-film, .ico-camera-2, .ico-bullhorn, .ico-feed, .ico-book, .ico-books, .ico-library, .ico-file, .ico-profile, .ico-file-2, .ico-file-3, .ico-file-4, .ico-copy, .ico-copy-2, .ico-copy-3, .ico-paste, .ico-paste-2, .ico-stack, .ico-folder, .ico-folder-open, .ico-tag, .ico-tags, .ico-barcode, .ico-qrcode, .ico-cart, .ico-cart-2, .ico-cart-3, .ico-coin, .ico-credit, .ico-calculate, .ico-support, .ico-phone, .ico-phone-hang-up, .ico-address-book, .ico-notebook, .ico-envelop, .ico-pushpin, .ico-location, .ico-location-2, .ico-compass, .ico-map, .ico-map-2, .ico-history, .ico-clock, .ico-clock-2, .ico-alarm, .ico-alarm-2, .ico-bell, .ico-stopwatch, .ico-calendar, .ico-calendar-2, .ico-print, .ico-keyboard, .ico-screen, .ico-laptop, .ico-mobile, .ico-mobile-2, .ico-tablet, .ico-tv, .ico-cabinet, .ico-drawer, .ico-drawer-2, .ico-drawer-3, .ico-box-add, .ico-box-remove, .ico-download, .ico-upload, .ico-disk, .ico-storage, .ico-undo, .ico-redo, .ico-flip, .ico-flip-2, .ico-undo-2, .ico-redo-2, .ico-forward, .ico-reply, .ico-bubble, .ico-bubbles, .ico-bubbles-2, .ico-bubble-2, .ico-bubbles-3, .ico-bubbles-4, .ico-user, .ico-users, .ico-user-2, .ico-users-2, .ico-user-3, .ico-user-4, .ico-quotes-left, .ico-busy, .ico-spinner, .ico-spinner-2, .ico-spinner-3, .ico-spinner-4, .ico-spinner-5, .ico-spinner-6, .ico-binoculars, .ico-search, .ico-zoom-in, .ico-zoom-out, .ico-expand, .ico-contract, .ico-expand-2, .ico-contract-2, .ico-key, .ico-key-2, .ico-lock, .ico-lock-2, .ico-unlocked, .ico-wrench, .ico-settings, .ico-equalizer, .ico-cog, .ico-cogs, .ico-cog-2, .ico-hammer, .ico-wand, .ico-aid, .ico-pie, .ico-stats, .ico-bars, .ico-bars-2, .ico-gift, .ico-trophy, .ico-glass, .ico-mug, .ico-food, .ico-leaf, .ico-rocket, .ico-meter, .ico-meter2, .ico-dashboard, .ico-hammer-2, .ico-fire, .ico-lab, .ico-magnet, .ico-remove, .ico-remove-2, .ico-briefcase, .ico-airplane, .ico-truck, .ico-road, .ico-accessibility, .ico-target, .ico-shield, .ico-lightning, .ico-switch, .ico-power-cord, .ico-signup, .ico-list, .ico-list-2, .ico-numbered-list, .ico-menu, .ico-menu-2, .ico-tree, .ico-cloud, .ico-cloud-download, .ico-cloud-upload, .ico-download-2, .ico-upload-2, .ico-download-3, .ico-upload-3, .ico-globe, .ico-earth, .ico-link, .ico-flag, .ico-attachment, .ico-eye, .ico-eye-blocked, .ico-eye-2, .ico-bookmark, .ico-bookmarks, .ico-brightness-medium, .ico-brightness-contrast, .ico-contrast, .ico-star, .ico-star-2, .ico-star-3, .ico-heart, .ico-heart-2, .ico-heart-broken, .ico-thumbs-up, .ico-thumbs-up-2, .ico-point-up, .ico-point-right, .ico-point-down, .ico-point-left, .ico-warning, .ico-notification, .ico-question, .ico-info, .ico-info-2, .ico-blocked, .ico-cancel-circle, .ico-checkmark-circle, .ico-spam, .ico-close, .ico-checkmark, .ico-checkmark-2, .ico-spell-check, .ico-minus, .ico-plus, .ico-enter, .ico-exit, .ico-play-2, .ico-pause, .ico-stop, .ico-backward, .ico-forward-2, .ico-play-3, .ico-pause-2, .ico-stop-2, .ico-backward-2, .ico-forward-3, .ico-first, .ico-last, .ico-previous, .ico-next, .ico-eject, .ico-loop, .ico-loop-2, .ico-loop-3, .ico-shuffle, .ico-arrow-up-left, .ico-arrow-up, .ico-arrow-up-right, .ico-arrow-right, .ico-arrow-down-right, .ico-arrow-down, .ico-arrow-down-left, .ico-arrow-left, .ico-arrow-up-left-2, .ico-arrow-up-2, .ico-arrow-up-right-2, .ico-arrow-right-2, .ico-arrow-down-right-2, .ico-arrow-down-2, .ico-arrow-down-left-2, .ico-arrow-left-2, .ico-arrow-up-left-3, .ico-arrow-up-3, .ico-arrow-up-right-3, .ico-arrow-right-3, .ico-arrow-down-right-3, .ico-arrow-down-3, .ico-arrow-down-left-3, .ico-arrow-left-3, .ico-tab, .ico-checkbox-checked, .ico-checkbox-unchecked, .ico-checkbox-partial, .ico-radio-checked, .ico-radio-unchecked, .ico-crop, .ico-scissors, .ico-font, .ico-text-height, .ico-text-width, .ico-bold, .ico-underline, .ico-italic, .ico-strikethrough, .ico-omega, .ico-sigma, .ico-table, .ico-table-2, .ico-insert-template, .ico-pilcrow, .ico-left-to-right, .ico-right-to-left, .ico-paragraph-left, .ico-paragraph-center, .ico-paragraph-right, .ico-paragraph-justify, .ico-paragraph-left-2, .ico-paragraph-center-2, .ico-paragraph-right-2, .ico-paragraph-justify-2, .ico-indent-increase, .ico-indent-decrease, .ico-new-tab, .ico-embed, .ico-code, .ico-console, .ico-share, .ico-mail, .ico-mail-2, .ico-mail-3, .ico-feed-2, .ico-feed-3, .ico-file-pdf, .ico-file-word, .ico-file-excel, .ico-file-powerpoint, .ico-file-xml, .ico-file-css, .ico-warning-2, .ico-cloud-2, .ico-locked, .ico-inbox, .ico-comment, .ico-mic, .ico-envelope, .ico-folder-2, .ico-camera-3, .ico-search-2, .ico-feed-4, .ico-filter, .ico-filter-2, .ico-mouse, .ico-refresh, .ico-location-3, .ico-tag-2, .ico-star-4, .ico-list-3, .ico-grid, .ico-stats-2, .ico-target-2, .ico-forward-4, .ico-target-3, .ico-code-2, .ico-briefcase-2, .ico-cart-4, .ico-contrast-2, .ico-clock-3, .ico-user-5, .ico-cog-3, .ico-music-2, .ico-pencil-3, .ico-frame, .ico-switch-2, .ico-chart, .ico-file-5, .ico-blocked-2, .ico-picture, .ico-target-4, .ico-play-4, .ico-pause-3, .ico-film-2, .ico-type, .ico-earth-2, .ico-location-4, .ico-info-3, .ico-eye-3, .ico-heart-3, .ico-bookmark-2, .ico-wrench-2, .ico-calendar-3, .ico-window, .ico-monitor, .ico-mobile-3, .ico-pointer, .ico-thumbs-up-3, .ico-thumbs-down, .ico-headphones-2, .ico-move, .ico-gift-2, .ico-cone, .ico-alarm-3, .ico-coffee, .ico-basket, .ico-flag-2, .ico-ipod, .ico-trashcan, .ico-bolt, .ico-compass-2, .ico-paperclip, .ico-keyboard-2, .ico-crop-2, .ico-floppy, .ico-trophy-2, .ico-diary, .ico-address-book-2, .ico-stop-3, .ico-bookmark-3, .ico-camera-4, .ico-lamp, .ico-disk-2, .ico-button, .ico-database, .ico-credit-card, .ico-podcast, .ico-connection, .ico-youtube, .ico-skype, .ico-twitter, .ico-google-plus, .ico-google-plus-2, .ico-facebook, .ico-twitter-2, .ico-twitter-3, .ico-github, .ico-battery, .ico-winsows, .ico-bug, .ico-console-2, .ico-apple, .ico-home-3, .ico-volume-high, .ico-volume-medium, .ico-volume-low, .ico-volume-mute, .ico-volume-mute-2, .ico-volume-increase, .ico-volume-decrease, .ico-mail-4, .ico-youtube-2, .ico-instagram, .ico-wordpress, .ico-joomla, .ico-yahoo, .ico-tux, .ico-apple-2, .ico-finder, .ico-android, .ico-windows, .ico-windows8, .ico-skype-2, .ico-chrome, .ico-firefox, .ico-opera, .ico-IE, .ico-safari {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ico-home:before {
	content: "\e000";
}
.ico-home-2:before {
	content: "\e001";
}
.ico-office:before {
	content: "\e003";
}
.ico-newspaper:before {
	content: "\e004";
}
.ico-pencil:before {
	content: "\e005";
}
.ico-pencil-2:before {
	content: "\e006";
}
.ico-quill:before {
	content: "\e007";
}
.ico-droplet:before {
	content: "\e00a";
}
.ico-paint-format:before {
	content: "\e00b";
}
.ico-image:before {
	content: "\e00c";
}
.ico-image-2:before {
	content: "\e00d";
}
.ico-images:before {
	content: "\e00e";
}
.ico-camera:before {
	content: "\e00f";
}
.ico-music:before {
	content: "\e010";
}
.ico-headphones:before {
	content: "\e011";
}
.ico-play:before {
	content: "\e012";
}
.ico-film:before {
	content: "\e013";
}
.ico-camera-2:before {
	content: "\e014";
}
.ico-bullhorn:before {
	content: "\e01b";
}
.ico-feed:before {
	content: "\e01e";
}
.ico-book:before {
	content: "\e01f";
}
.ico-books:before {
	content: "\e020";
}
.ico-library:before {
	content: "\e021";
}
.ico-file:before {
	content: "\e022";
}
.ico-profile:before {
	content: "\e023";
}
.ico-file-2:before {
	content: "\e024";
}
.ico-file-3:before {
	content: "\e025";
}
.ico-file-4:before {
	content: "\e026";
}
.ico-copy:before {
	content: "\e027";
}
.ico-copy-2:before {
	content: "\e028";
}
.ico-copy-3:before {
	content: "\e029";
}
.ico-paste:before {
	content: "\e02b";
}
.ico-paste-2:before {
	content: "\e02c";
}
.ico-stack:before {
	content: "\e02d";
}
.ico-folder:before {
	content: "\e02e";
}
.ico-folder-open:before {
	content: "\e02f";
}
.ico-tag:before {
	content: "\e030";
}
.ico-tags:before {
	content: "\e031";
}
.ico-barcode:before {
	content: "\e032";
}
.ico-qrcode:before {
	content: "\e033";
}
.ico-cart:before {
	content: "\e035";
}
.ico-cart-2:before {
	content: "\e036";
}
.ico-cart-3:before {
	content: "\e037";
}
.ico-coin:before {
	content: "\e038";
}
.ico-credit:before {
	content: "\e039";
}
.ico-calculate:before {
	content: "\e03a";
}
.ico-support:before {
	content: "\e03b";
}
.ico-phone:before {
	content: "\e03c";
}
.ico-phone-hang-up:before {
	content: "\e03d";
}
.ico-address-book:before {
	content: "\e03e";
}
.ico-notebook:before {
	content: "\e03f";
}
.ico-envelop:before {
	content: "\e040";
}
.ico-pushpin:before {
	content: "\e041";
}
.ico-location:before {
	content: "\e042";
}
.ico-location-2:before {
	content: "\e043";
}
.ico-compass:before {
	content: "\e044";
}
.ico-map:before {
	content: "\e045";
}
.ico-map-2:before {
	content: "\e046";
}
.ico-history:before {
	content: "\e047";
}
.ico-clock:before {
	content: "\e048";
}
.ico-clock-2:before {
	content: "\e049";
}
.ico-alarm:before {
	content: "\e04a";
}
.ico-alarm-2:before {
	content: "\e04b";
}
.ico-bell:before {
	content: "\e04c";
}
.ico-stopwatch:before {
	content: "\e04d";
}
.ico-calendar:before {
	content: "\e04e";
}
.ico-calendar-2:before {
	content: "\e04f";
}
.ico-print:before {
	content: "\e050";
}
.ico-keyboard:before {
	content: "\e051";
}
.ico-screen:before {
	content: "\e052";
}
.ico-laptop:before {
	content: "\e053";
}
.ico-mobile:before {
	content: "\e054";
}
.ico-mobile-2:before {
	content: "\e055";
}
.ico-tablet:before {
	content: "\e056";
}
.ico-tv:before {
	content: "\e057";
}
.ico-cabinet:before {
	content: "\e058";
}
.ico-drawer:before {
	content: "\e059";
}
.ico-drawer-2:before {
	content: "\e05a";
}
.ico-drawer-3:before {
	content: "\e05b";
}
.ico-box-add:before {
	content: "\e05c";
}
.ico-box-remove:before {
	content: "\e05d";
}
.ico-download:before {
	content: "\e05e";
}
.ico-upload:before {
	content: "\e05f";
}
.ico-disk:before {
	content: "\e060";
}
.ico-storage:before {
	content: "\e061";
}
.ico-undo:before {
	content: "\e062";
}
.ico-redo:before {
	content: "\e063";
}
.ico-flip:before {
	content: "\e064";
}
.ico-flip-2:before {
	content: "\e065";
}
.ico-undo-2:before {
	content: "\e066";
}
.ico-redo-2:before {
	content: "\e067";
}
.ico-forward:before {
	content: "\e068";
}
.ico-reply:before {
	content: "\e069";
}
.ico-bubble:before {
	content: "\e06a";
}
.ico-bubbles:before {
	content: "\e06b";
}
.ico-bubbles-2:before {
	content: "\e06c";
}
.ico-bubble-2:before {
	content: "\e06d";
}
.ico-bubbles-3:before {
	content: "\e06e";
}
.ico-bubbles-4:before {
	content: "\e06f";
}
.ico-user:before {
	content: "\e070";
}
.ico-users:before {
	content: "\e071";
}
.ico-user-2:before {
	content: "\e072";
}
.ico-users-2:before {
	content: "\e073";
}
.ico-user-3:before {
	content: "\e074";
}
.ico-user-4:before {
	content: "\e075";
}
.ico-quotes-left:before {
	content: "\e076";
}
.ico-busy:before {
	content: "\e077";
}
.ico-spinner:before {
	content: "\e078";
}
.ico-spinner-2:before {
	content: "\e079";
}
.ico-spinner-3:before {
	content: "\e07a";
}
.ico-spinner-4:before {
	content: "\e07b";
}
.ico-spinner-5:before {
	content: "\e07c";
}
.ico-spinner-6:before {
	content: "\e07d";
}
.ico-binoculars:before {
	content: "\e07e";
}
.ico-search:before {
	content: "\e07f";
}
.ico-zoom-in:before {
	content: "\e080";
}
.ico-zoom-out:before {
	content: "\e081";
}
.ico-expand:before {
	content: "\e082";
}
.ico-contract:before {
	content: "\e083";
}
.ico-expand-2:before {
	content: "\e084";
}
.ico-contract-2:before {
	content: "\e085";
}
.ico-key:before {
	content: "\e086";
}
.ico-key-2:before {
	content: "\e087";
}
.ico-lock:before {
	content: "\e088";
}
.ico-lock-2:before {
	content: "\e089";
}
.ico-unlocked:before {
	content: "\e08a";
}
.ico-wrench:before {
	content: "\e08b";
}
.ico-settings:before {
	content: "\e08c";
}
.ico-equalizer:before {
	content: "\e08d";
}
.ico-cog:before {
	content: "\e08e";
}
.ico-cogs:before {
	content: "\e08f";
}
.ico-cog-2:before {
	content: "\e090";
}
.ico-hammer:before {
	content: "\e091";
}
.ico-wand:before {
	content: "\e092";
}
.ico-aid:before {
	content: "\e093";
}
.ico-pie:before {
	content: "\e095";
}
.ico-stats:before {
	content: "\e096";
}
.ico-bars:before {
	content: "\e097";
}
.ico-bars-2:before {
	content: "\e098";
}
.ico-gift:before {
	content: "\e099";
}
.ico-trophy:before {
	content: "\e09a";
}
.ico-glass:before {
	content: "\e09b";
}
.ico-mug:before {
	content: "\e09c";
}
.ico-food:before {
	content: "\e09d";
}
.ico-leaf:before {
	content: "\e09e";
}
.ico-rocket:before {
	content: "\e09f";
}
.ico-meter:before {
	content: "\e0a0";
}
.ico-meter2:before {
	content: "\e0a1";
}
.ico-dashboard:before {
	content: "\e0a2";
}
.ico-hammer-2:before {
	content: "\e0a3";
}
.ico-fire:before {
	content: "\e0a4";
}
.ico-lab:before {
	content: "\e0a5";
}
.ico-magnet:before {
	content: "\e0a6";
}
.ico-remove:before {
	content: "\e0a7";
}
.ico-remove-2:before {
	content: "\e0a8";
}
.ico-briefcase:before {
	content: "\e0a9";
}
.ico-airplane:before {
	content: "\e0aa";
}
.ico-truck:before {
	content: "\e0ab";
}
.ico-road:before {
	content: "\e0ac";
}
.ico-accessibility:before {
	content: "\e0ad";
}
.ico-target:before {
	content: "\e0ae";
}
.ico-shield:before {
	content: "\e0af";
}
.ico-lightning:before {
	content: "\e0b0";
}
.ico-switch:before {
	content: "\e0b1";
}
.ico-power-cord:before {
	content: "\e0b2";
}
.ico-signup:before {
	content: "\e0b3";
}
.ico-list:before {
	content: "\e0b4";
}
.ico-list-2:before {
	content: "\e0b5";
}
.ico-numbered-list:before {
	content: "\e0b6";
}
.ico-menu:before {
	content: "\e0b7";
}
.ico-menu-2:before {
	content: "\e0b8";
}
.ico-tree:before {
	content: "\e0b9";
}
.ico-cloud:before {
	content: "\e0ba";
}
.ico-cloud-download:before {
	content: "\e0bb";
}
.ico-cloud-upload:before {
	content: "\e0bc";
}
.ico-download-2:before {
	content: "\e0bd";
}
.ico-upload-2:before {
	content: "\e0be";
}
.ico-download-3:before {
	content: "\e0bf";
}
.ico-upload-3:before {
	content: "\e0c0";
}
.ico-globe:before {
	content: "\e0c1";
}
.ico-earth:before {
	content: "\e0c2";
}
.ico-link:before {
	content: "\e0c3";
}
.ico-flag:before {
	content: "\e0c4";
}
.ico-attachment:before {
	content: "\e0c5";
}
.ico-eye:before {
	content: "\e0c6";
}
.ico-eye-blocked:before {
	content: "\e0c7";
}
.ico-eye-2:before {
	content: "\e0c8";
}
.ico-bookmark:before {
	content: "\e0c9";
}
.ico-bookmarks:before {
	content: "\e0ca";
}
.ico-brightness-medium:before {
	content: "\e0cb";
}
.ico-brightness-contrast:before {
	content: "\e0cc";
}
.ico-contrast:before {
	content: "\e0cd";
}
.ico-star:before {
	content: "\e0ce";
}
.ico-star-2:before {
	content: "\e0cf";
}
.ico-star-3:before {
	content: "\e0d0";
}
.ico-heart:before {
	content: "\e0d1";
}
.ico-heart-2:before {
	content: "\e0d2";
}
.ico-heart-broken:before {
	content: "\e0d3";
}
.ico-thumbs-up:before {
	content: "\e0d4";
}
.ico-thumbs-up-2:before {
	content: "\e0d5";
}
.ico-point-up:before {
	content: "\e0f0";
}
.ico-point-right:before {
	content: "\e0f1";
}
.ico-point-down:before {
	content: "\e0f2";
}
.ico-point-left:before {
	content: "\e0f3";
}
.ico-warning:before {
	content: "\e0f4";
}
.ico-notification:before {
	content: "\e0f5";
}
.ico-question:before {
	content: "\e0f6";
}
.ico-info:before {
	content: "\e0f7";
}
.ico-info-2:before {
	content: "\e0f8";
}
.ico-blocked:before {
	content: "\e0f9";
}
.ico-cancel-circle:before {
	content: "\e0fa";
}
.ico-checkmark-circle:before {
	content: "\e0fb";
}
.ico-spam:before {
	content: "\e0fc";
}
.ico-close:before {
	content: "\e0fd";
}
.ico-checkmark:before {
	content: "\e0fe";
}
.ico-checkmark-2:before {
	content: "\e0ff";
}
.ico-spell-check:before {
	content: "\e100";
}
.ico-minus:before {
	content: "\e101";
}
.ico-plus:before {
	content: "\e102";
}
.ico-enter:before {
	content: "\e103";
}
.ico-exit:before {
	content: "\e104";
}
.ico-play-2:before {
	content: "\e105";
}
.ico-pause:before {
	content: "\e106";
}
.ico-stop:before {
	content: "\e107";
}
.ico-backward:before {
	content: "\e108";
}
.ico-forward-2:before {
	content: "\e109";
}
.ico-play-3:before {
	content: "\e10a";
}
.ico-pause-2:before {
	content: "\e10b";
}
.ico-stop-2:before {
	content: "\e10c";
}
.ico-backward-2:before {
	content: "\e10d";
}
.ico-forward-3:before {
	content: "\e10e";
}
.ico-first:before {
	content: "\e10f";
}
.ico-last:before {
	content: "\e110";
}
.ico-previous:before {
	content: "\e111";
}
.ico-next:before {
	content: "\e112";
}
.ico-eject:before {
	content: "\e113";
}
.ico-loop:before {
	content: "\e11b";
}
.ico-loop-2:before {
	content: "\e11c";
}
.ico-loop-3:before {
	content: "\e11d";
}
.ico-shuffle:before {
	content: "\e11e";
}
.ico-arrow-up-left:before {
	content: "\e11f";
}
.ico-arrow-up:before {
	content: "\e120";
}
.ico-arrow-up-right:before {
	content: "\e121";
}
.ico-arrow-right:before {
	content: "\e122";
}
.ico-arrow-down-right:before {
	content: "\e123";
}
.ico-arrow-down:before {
	content: "\e124";
}
.ico-arrow-down-left:before {
	content: "\e125";
}
.ico-arrow-left:before {
	content: "\e126";
}
.ico-arrow-up-left-2:before {
	content: "\e127";
}
.ico-arrow-up-2:before {
	content: "\e128";
}
.ico-arrow-up-right-2:before {
	content: "\e129";
}
.ico-arrow-right-2:before {
	content: "\e12a";
}
.ico-arrow-down-right-2:before {
	content: "\e12b";
}
.ico-arrow-down-2:before {
	content: "\e12c";
}
.ico-arrow-down-left-2:before {
	content: "\e12d";
}
.ico-arrow-left-2:before {
	content: "\e12e";
}
.ico-arrow-up-left-3:before {
	content: "\e12f";
}
.ico-arrow-up-3:before {
	content: "\e130";
}
.ico-arrow-up-right-3:before {
	content: "\e131";
}
.ico-arrow-right-3:before {
	content: "\e132";
}
.ico-arrow-down-right-3:before {
	content: "\e133";
}
.ico-arrow-down-3:before {
	content: "\e134";
}
.ico-arrow-down-left-3:before {
	content: "\e135";
}
.ico-arrow-left-3:before {
	content: "\e136";
}
.ico-tab:before {
	content: "\e137";
}
.ico-checkbox-checked:before {
	content: "\e138";
}
.ico-checkbox-unchecked:before {
	content: "\e139";
}
.ico-checkbox-partial:before {
	content: "\e13a";
}
.ico-radio-checked:before {
	content: "\e13b";
}
.ico-radio-unchecked:before {
	content: "\e13c";
}
.ico-crop:before {
	content: "\e13d";
}
.ico-scissors:before {
	content: "\e13e";
}
.ico-font:before {
	content: "\e141";
}
.ico-text-height:before {
	content: "\e142";
}
.ico-text-width:before {
	content: "\e143";
}
.ico-bold:before {
	content: "\e144";
}
.ico-underline:before {
	content: "\e145";
}
.ico-italic:before {
	content: "\e146";
}
.ico-strikethrough:before {
	content: "\e147";
}
.ico-omega:before {
	content: "\e148";
}
.ico-sigma:before {
	content: "\e149";
}
.ico-table:before {
	content: "\e14a";
}
.ico-table-2:before {
	content: "\e14b";
}
.ico-insert-template:before {
	content: "\e14c";
}
.ico-pilcrow:before {
	content: "\e14d";
}
.ico-left-to-right:before {
	content: "\e14e";
}
.ico-right-to-left:before {
	content: "\e14f";
}
.ico-paragraph-left:before {
	content: "\e150";
}
.ico-paragraph-center:before {
	content: "\e151";
}
.ico-paragraph-right:before {
	content: "\e152";
}
.ico-paragraph-justify:before {
	content: "\e153";
}
.ico-paragraph-left-2:before {
	content: "\e154";
}
.ico-paragraph-center-2:before {
	content: "\e155";
}
.ico-paragraph-right-2:before {
	content: "\e156";
}
.ico-paragraph-justify-2:before {
	content: "\e157";
}
.ico-indent-increase:before {
	content: "\e158";
}
.ico-indent-decrease:before {
	content: "\e159";
}
.ico-new-tab:before {
	content: "\e15a";
}
.ico-embed:before {
	content: "\e15b";
}
.ico-code:before {
	content: "\e15c";
}
.ico-console:before {
	content: "\e15d";
}
.ico-share:before {
	content: "\e15e";
}
.ico-mail:before {
	content: "\e15f";
}
.ico-mail-2:before {
	content: "\e160";
}
.ico-mail-3:before {
	content: "\e161";
}
.ico-feed-2:before {
	content: "\e170";
}
.ico-feed-3:before {
	content: "\e171";
}
.ico-file-pdf:before {
	content: "\e1b2";
}
.ico-file-word:before {
	content: "\e1b4";
}
.ico-file-excel:before {
	content: "\e1b5";
}
.ico-file-powerpoint:before {
	content: "\e1b7";
}
.ico-file-xml:before {
	content: "\e1b8";
}
.ico-file-css:before {
	content: "\e1b9";
}
.ico-warning-2:before {
	content: "\e1c3";
}
.ico-cloud-2:before {
	content: "\e1c4";
}
.ico-locked:before {
	content: "\e1c5";
}
.ico-inbox:before {
	content: "\e1c6";
}
.ico-comment:before {
	content: "\e1c7";
}
.ico-mic:before {
	content: "\e1c8";
}
.ico-envelope:before {
	content: "\e1c9";
}
.ico-folder-2:before {
	content: "\e1ca";
}
.ico-camera-3:before {
	content: "\e1cb";
}
.ico-search-2:before {
	content: "\e1cc";
}
.ico-feed-4:before {
	content: "\e1cf";
}
.ico-filter:before {
	content: "\e1d0";
}
.ico-filter-2:before {
	content: "\e1d1";
}
.ico-mouse:before {
	content: "\e1d2";
}
.ico-refresh:before {
	content: "\e1d3";
}
.ico-location-3:before {
	content: "\e1d4";
}
.ico-tag-2:before {
	content: "\e1d5";
}
.ico-star-4:before {
	content: "\e1d7";
}
.ico-list-3:before {
	content: "\e1d8";
}
.ico-grid:before {
	content: "\e1d9";
}
.ico-stats-2:before {
	content: "\e1dc";
}
.ico-target-2:before {
	content: "\e1dd";
}
.ico-forward-4:before {
	content: "\e1de";
}
.ico-target-3:before {
	content: "\e1e0";
}
.ico-code-2:before {
	content: "\e1e2";
}
.ico-briefcase-2:before {
	content: "\e1e3";
}
.ico-cart-4:before {
	content: "\e1e4";
}
.ico-contrast-2:before {
	content: "\e1e5";
}
.ico-clock-3:before {
	content: "\e1e6";
}
.ico-user-5:before {
	content: "\e1e7";
}
.ico-cog-3:before {
	content: "\e1e8";
}
.ico-music-2:before {
	content: "\e1e9";
}
.ico-pencil-3:before {
	content: "\e1eb";
}
.ico-frame:before {
	content: "\e1ec";
}
.ico-switch-2:before {
	content: "\e1ed";
}
.ico-chart:before {
	content: "\e1f0";
}
.ico-file-5:before {
	content: "\e1f2";
}
.ico-blocked-2:before {
	content: "\e1f3";
}
.ico-picture:before {
	content: "\e1f5";
}
.ico-target-4:before {
	content: "\e1f6";
}
.ico-play-4:before {
	content: "\e1f7";
}
.ico-pause-3:before {
	content: "\e1f8";
}
.ico-film-2:before {
	content: "\e1fb";
}
.ico-type:before {
	content: "\e1fc";
}
.ico-earth-2:before {
	content: "\e1fe";
}
.ico-location-4:before {
	content: "\e1ff";
}
.ico-info-3:before {
	content: "\e200";
}
.ico-eye-3:before {
	content: "\e201";
}
.ico-heart-3:before {
	content: "\e202";
}
.ico-bookmark-2:before {
	content: "\e203";
}
.ico-wrench-2:before {
	content: "\e204";
}
.ico-calendar-3:before {
	content: "\e205";
}
.ico-window:before {
	content: "\e206";
}
.ico-monitor:before {
	content: "\e207";
}
.ico-mobile-3:before {
	content: "\e208";
}
.ico-pointer:before {
	content: "\e209";
}
.ico-thumbs-up-3:before {
	content: "\e20a";
}
.ico-thumbs-down:before {
	content: "\e20b";
}
.ico-headphones-2:before {
	content: "\e20c";
}
.ico-move:before {
	content: "\e20d";
}
.ico-gift-2:before {
	content: "\e211";
}
.ico-cone:before {
	content: "\e212";
}
.ico-alarm-3:before {
	content: "\e213";
}
.ico-coffee:before {
	content: "\e214";
}
.ico-basket:before {
	content: "\e215";
}
.ico-flag-2:before {
	content: "\e216";
}
.ico-ipod:before {
	content: "\e217";
}
.ico-trashcan:before {
	content: "\e218";
}
.ico-bolt:before {
	content: "\e219";
}
.ico-compass-2:before {
	content: "\e21b";
}
.ico-paperclip:before {
	content: "\e21c";
}
.ico-keyboard-2:before {
	content: "\e21d";
}
.ico-crop-2:before {
	content: "\e21e";
}
.ico-floppy:before {
	content: "\e21f";
}
.ico-trophy-2:before {
	content: "\e221";
}
.ico-diary:before {
	content: "\e222";
}
.ico-address-book-2:before {
	content: "\e223";
}
.ico-stop-3:before {
	content: "\e224";
}
.ico-bookmark-3:before {
	content: "\e227";
}
.ico-camera-4:before {
	content: "\e228";
}
.ico-lamp:before {
	content: "\e229";
}
.ico-disk-2:before {
	content: "\e22a";
}
.ico-button:before {
	content: "\e22b";
}
.ico-database:before {
	content: "\e22c";
}
.ico-credit-card:before {
	content: "\e22d";
}
.ico-podcast:before {
	content: "\e01d";
}
.ico-connection:before {
	content: "\e01c";
}
.ico-youtube:before {
	content: "\e174";
}
.ico-skype:before {
	content: "\e210";
}
.ico-twitter:before {
	content: "\e1ea";
}
.ico-google-plus:before {
	content: "\e164";
}
.ico-google-plus-2:before {
	content: "\e166";
}
.ico-facebook:before {
	content: "\e16a";
}
.ico-twitter-2:before {
	content: "\e16d";
}
.ico-twitter-3:before {
	content: "\e16e";
}
.ico-github:before {
	content: "\e18a";
}
.ico-battery:before {
	content: "\e1e1";
}
.ico-winsows:before {
	content: "\e1df";
}
.ico-bug:before {
	content: "\e1f9";
}
.ico-console-2:before {
	content: "\e1fa";
}
.ico-apple:before {
	content: "\e1f1";
}
.ico-home-3:before {
	content: "\e002";
}
.ico-volume-high:before {
	content: "\e114";
}
.ico-volume-medium:before {
	content: "\e115";
}
.ico-volume-low:before {
	content: "\e116";
}
.ico-volume-mute:before {
	content: "\e117";
}
.ico-volume-mute-2:before {
	content: "\e118";
}
.ico-volume-increase:before {
	content: "\e119";
}
.ico-volume-decrease:before {
	content: "\e11a";
}
.ico-mail-4:before {
	content: "\e162";
}
.ico-youtube-2:before {
	content: "\e173";
}
.ico-instagram:before {
	content: "\e16c";
}
.ico-wordpress:before {
	content: "\e18d";
}
.ico-joomla:before {
	content: "\e18f";
}
.ico-yahoo:before {
	content: "\e194";
}
.ico-tux:before {
	content: "\e195";
}
.ico-apple-2:before {
	content: "\e196";
}
.ico-finder:before {
	content: "\e197";
}
.ico-android:before {
	content: "\e198";
}
.ico-windows:before {
	content: "\e199";
}
.ico-windows8:before {
	content: "\e19a";
}
.ico-skype-2:before {
	content: "\e19d";
}
.ico-chrome:before {
	content: "\e1bd";
}
.ico-firefox:before {
	content: "\e1be";
}
.ico-opera:before {
	content: "\e1c0";
}
.ico-IE:before {
	content: "\e1bf";
}
.ico-safari:before {
	content: "\e1c1";
}
