html,
body {
    height: 100%;
    background: url("../images/mini_bg_03.png");

}
body {
    background: url("../images/bg.png") 100% 100% no-repeat;
    color: #c0c0c0;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.container {
    padding: 0 15px 0;
    width: 1000px;
}

.footer {
    /*height: 60px;*/
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
#search-form {

}
#search-form .row {
    margin: 20px 0 0 0;
}
#search-form input {
    color: #000;
    width: 100%;
    padding: 4px;
    text-align: center;
}
.item-block .title {
    font-size: 18px;
    color: #fff;
}
.item-block {
    border: red 4px solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    width: 33%;
    text-align: center;
}
.body-content {
    padding-top: 66px;
}
footer {
    margin-top: -120px;
}
.rules a {
    color: #c0c0c0;
}
.warranty_result .row {
    font-size: 22px;
}
.warranty_result {
    color: #fff;
}
    .warranty_result .number_days {
        font-size: 30px;
    }
    .warranty_result .number_month {
        font-size: 46px;
    }
.reload_info {
    width: 33.3%;
    margin-top: 20px;
}