html {
	box-sizing: border-box;
	background: #eeeeee url(../images/bg-col.png) 0 0 no-repeat;
	background-size: cover;
}
*, *:before, *:after {
	box-sizing: inherit;
}
* {max-height: 1000000px;}
body{
	margin:0;
	font:14px/16px Arial, Helvetica, sans-serif;
	color:#000000;
	-webkit-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	background: url(../images/bg_left.png);
	background-repeat: no-repeat;
}
img{
	border-style:none;
	vertical-align:top;
	max-width: 100%;
}
a{
	color:#000;
	text-decoration:underline;
}
p{
	margin: 0;
}
ul {
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
a:hover{text-decoration: underline;}
a:active {background-color: transparent;}
input, textarea, select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#1e1b1b;
}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
	margin:0;
	padding:0;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
input[type=image],
button{
	padding:0;
	border:none;
}
input[type="submit"]::-moz-focus-inner{border:0}
input[type="submit"]{cursor:pointer;}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
.wrapper {
	/*background-image: url(../images/bg-img.png);*/
	background: url(../images/bg_right.png) 100% 50% no-repeat;
}
.row {
	max-width: 1020px;
	margin: 0 auto;
}
.guarantee a {
	font: 16px/18px 'OpenSans-Bold';
	color: #666666;
}
.guarantee a:hover {
	text-decoration: none;
}
#main {
	padding: 20px 10px 20px 121px;
	/*overflow: hidden;*/
}
#main h1 {
	font: 22px/24px 'OpenSans-Semibold';
	color: #3d3d3d;
	margin-bottom: 3%;
	padding-left: 5%;
}
.form-search {
	width: 38%;
	padding: 48px 0 57px 0;
	background: #fafafa;
	text-align: center;
	border-radius: 2px;
	float: left;
}
.info-box {
	width: 38%;
	padding: 86px 0 50px 0;
	background: #fafafa;
	text-align: center;
	border-radius: 2px;
}
.info-box h2 {
	font: 24px/26px 'OpenSans-Semibold';
	color: #787878;	
	margin-bottom: 32px;	
}

.info-box  .term .number {
	font: 49px/50px 'OpenSans-Bold';
	color: #ff0101;
	margin-bottom: 2%;
	display: inline-block;
	margin-left: -20%;
	margin-right: 5%;
}
.info-box  .term .number2 {
	font: 49px/50px 'OpenSans-Bold';
	color: #ff0101;
	margin-bottom: 2%;
	display: inline-block;
	margin-left: -12%;
	margin-right: 5%;
}
.info-box  .term .string {
	font: 16px/18px 'OpenSans-Semibold';
	display: inline-block;
	color: #ff0101;
	position: absolute;
	top: 30%;
}
.info-box  .term {
	position: relative;
}
.info-box  a {
	font: 16px/18px 'OpenSans-Bold';
	color: #666666;
	margin-top: 24%;
	display: block;
}
.info-box  a:hover {
	text-decoration: none;
}
.info-box  a img {
	margin-right: 1%;
}

.form-search .form-horizontal .control-label {
	font: 16px/18px 'OpenSans-Semibold';
	color: #787878;
	margin-bottom: 21px;
}
.form-search .form-horizontal textarea {
	width: 93%;
	background: #f2f2f2;
	border: 2px solid #dadada;
	padding-left: 20px;
	color: #3d3d3d;
	font: 16px/18px 'OpenSans-Semibold';
	margin-bottom: 8px;
}
.form-search .form-horizontal input {
	width: 80%;
	height: 48px;
	background: #f2f2f2;
	border: 2px solid #dadada;
	padding-left: 20px;
	color: #3d3d3d;
	font: 16px/18px 'OpenSans-Semibold';
	margin-bottom: 8px;
}
.form-search .form-horizontal input[type="file"] {
	background: inherit;
	border: none;
}
.registry-files .control-label {
    text-align: center;
}
.form-search .form-horizontal .button-search .btn {
	width: 80%;
	background: #ff0000;
	color: #ffffff;
	font: 16px/18px 'OpenSans-Bold';
	padding: 15px 0;
	border-radius: 30px;
	margin-top: 30px;
	outline: 0;
} 
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
	padding-left: 10%;
}
.form-search .btn-group>.btn:first-child{
	width: 89%;
	margin: 0 auto;
	height: 48px;
	background: #f2f2f2;
	border: 2px solid #dadada;
	padding-left: 20px;
	color: #3d3d3d;
	font: 16px/18px 'OpenSans-Semibold';
	/*margin-bottom: 25px;*/
	background-image: url(../images/drop-img.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	border-radius: 0;
}
.form-search .bootstrap-select.btn-group .dropdown-menu li a {
	color: #3d3d3d;
	font: 16px/18px 'OpenSans-Semibold';
}
.form-search .bootstrap-select.btn-group .dropdown-toggle .caret {
	display: none;
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 80%;
	left: 10%;
}
.form-search .dropdown-menu {
	top: 63%;
}
#footer {
	padding: 100px 5px 20px 5px;
	overflow: hidden;
	clear: both;
}
#footer .guarantee {
	padding-top: 17%;
	padding-left: 36%;
}
#footer .guarantee img {
	margin-right: 6%;
	float: left;
}
#footer .guarantee .img-connect {
	margin-left: 6%	;
	margin-right: 4%;	
}
#footer .guarantee p {
	padding-top: 2%;
}
#footer .connect2 {
	padding-top: 0;
}

#footer .logo {
	float: right;
	padding-right: 21%;
}
#service-acordul_tc, #registrylist-acordul_tc {
	width: auto;
	height: auto;
}
@media only screen and (min-width: 1021px) {
.wrapper {
	/*background-image: url(../images/bg-img-big.png);*/
	/*background-repeat: no-repeat;*/
}
}
@media only screen and (max-width: 992px) {
	.wrapper {
		background-size: 20%;
	}
	#inner {
		padding: 40px 10px 10px 10px;
	}
	.breadcrumb {
		margin-top: 70px !important;
	}
	#main {
	padding: 120px 10px 10px 121px;
	}
.form-search {
	width: 54%;
	 padding: 20px 0 20px 0;
}
.info-box {
	width: 54%;
	 padding: 20px 0 20px 0;
}
.form-search .form-horizontal .button-search .btn {
	margin-top: 0;
}
#footer {
	padding: 0 5px 5px 5px;
}
}
@media only screen and (max-width: 767px) {
	.wrapper {
		background: none;
	}

#main {
	padding: 20px 0 16px 0;
	position: relative;
}
.form-search {
	position: relative;
	width: 80%;
	left: 10%;
	padding: 22px 0 41px 0;
} 
.info-box {
	position: relative;
	width: 80%;
	left: 10%;
	padding: 22px 0 35px 0;
}
#main h1 {
	padding-left: 0;
	text-align: center;
	margin-bottom: 20px;
}
.form-search .form-horizontal .button-search .btn {
	margin-top: 8px;
	width: 50% !important;
}
.form-search .form-horizontal input {
	/*margin-bottom: 20px;*/
}
.info-box  a {
	margin-top: 17%;
}
.info-box h2 {
	margin-bottom: 52px;
}
#footer {
	padding-bottom: 47px;
}
#footer .guarantee {
	padding-left: 5%;
	padding-top: 22%;
}
#footer .logo {
	padding-right: 5%;
}
}
@media only screen and (max-width: 480px) {
	body {
		background-size: 19%;
	}
	#main {
			padding-bottom: 45px;
		}
	.guarantee a {
		font-size: 11px;
	}
	.info-box {
		padding-bottom: 64px;
	}
	#footer .guarantee {
		padding-top: 28px;
	}
	#footer {
		padding-bottom: 61px;
	}

}

.links-orders {
	/*float: right;*/
}
.link-orders-block a {
	color: #ffffff;
	text-decoration: none;
	padding: 20px 8px;
	display: block;
	-webkit-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
	background: #666666;
}
.link-orders-block:hover a {
	/*color: #333;*/
	background: #ff0000;
}

.link-orders-block {
	font: 16px/22px 'OpenSans-Bold';
	margin: 45px 0;
	text-align: center;
}

@media only screen and (min-width: 992px) {
	.links-orders {
		padding-top: 10px;
		margin-left: 30px;
	}
}

.form-full {
	width: 100%;
	left: 0;
	margin-bottom: 40px;
}
.breadcrumb {
	font-size: 12px;
	margin-top: 10px;
}
.service-form h1 {
	padding: 0;
	text-align: center;
	margin: 50px 0 !important;
	font: 22px/24px 'OpenSans-Semibold';
}
.has-error .help-block {
	color: #ff0000;
}
.has-error .form-control:focus {
	border-color: #ff0000
}
.warranty_data .info-box  .term .number, .warranty_data .info-box  .term .number2 {
	margin: 0;
}
.warranty_data .info-box {
	margin: 0 auto;
	padding-top: 46px
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	padding: 25px;
}