<?php //echo $this->text($this->page); ?>
<?php //echo $this->text2($this->page); ?>

<h2>Извините, страница не найдена</h2>
<p class="small text-darker font-secondary">
    Попробуйте выполнить запрос позже
</p>
