
/* img {
  max-width: 100% !important;
} */

#fixel-top-panel .form-search .search label {
  display: none;
}
#fixel-top-panel .form-search #mod-search-searchword {
  width: 150px;
  padding: 6px 15px;
  background-color: #000;
  border-color: #222;
  -webkit-transition: all 0.6s linear 0s;
  -moz-transition: all 0.6s linear 0s;
  -o-transition: all 0.6s linear 0s;
  transition: all 0.6s linear 0s;
}
#fixel-top-panel .form-search #mod-search-searchword:hover {
  border-color: #3c3c3c;
}
.light-mainnav #fixel-top-panel #mod-search-searchword {
  background-color: #fff;
  border-color: #e5e5e5;
}
.light-mainnav #fixel-top-panel #mod-search-searchword:hover {
  border-color: #090909;
}
.bannergroup.grid-1x1,
.bannergroup.grid-1x2,
.bannergroup.grid-2x1,
.bannergroup.grid-2x2 {
  width: 100% !important;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #1d1d1d;
  font-size: 13px;
  padding-top: 10px;
  text-align: right;
}

.items.highlight {
  background: transparent;
  border: none;
  padding: 0;
}
.fixel-grid .items.highlight article,
.highlight article {
  cursor: auto;
  background: #fc615d;
  color: #fff;
  font-weight: normal;
}
.fixel-grid .items.highlight article a:hover,
.fixel-grid .items.highlight article a:focus,
.fixel-grid .items.highlight article a:active,
.highlight article a:hover,
.highlight article a:focus,
.highlight article a:active {
  color: #fff;
  text-decoration: underline;
}
.fixel-grid .items.highlight .module-ct,
.highlight .module-ct {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fixel-grid .items.highlight .module-ct .grid-2x2.highlight,
.fixel-grid .items.highlight .module-ct .grid-2x1.highlight,
.fixel-grid .items.highlight .module-ct .grid-1x2.highlight,
.fixel-grid .items.highlight .module-ct .grid-1x1.highlight,
.highlight .module-ct .grid-2x2.highlight,
.highlight .module-ct .grid-2x1.highlight,
.highlight .module-ct .grid-1x2.highlight,
.highlight .module-ct .grid-1x1.highlight {
  width: 100% !important;
}

.jamasshead.grid-2x2,
.jamasshead.grid-2x1,
.jamasshead.grid-1x1,
.jamasshead.grid-1x2 {
  max-height: auto !important;
  width: 100% !important;
}
.com_easyblog .mod_easyblogarchive .mod-year a i {
  background: url(../images/mod.toggle.png) repeat center top;
  height: 15px;
  top: 0;
  width: 15px;
}
.com_easyblog .mod_easyblogarchive .mod-year a {
  color: #333;
  padding-left: 25px;
}
.mod_easyblogarchive .mod-months .mod-month {
  background: url(../images/calendar.png) no-repeat left center;
  font-weight: 400;
}
.mod_easyblogarchive .mod-months .mod-month a {
  color: #666;
}
.mod_easyblogarchive .mod-months .mod-month a:hover,
.mod_easyblogarchive .mod-months .mod-month a:focus,
.mod_easyblogarchive .mod-months .mod-month a:active {
  color: #fc615d;
}
.mod_easyblogtagcloud .tag-cloud {
  background: url(../images/tag.png) no-repeat left center;
  font-weight: 400;
  padding: 3px 0 3px 24px;
}
.mod_easyblogtagcloud .tag-cloud a {
  color: #666;
}
.mod_easyblogtagcloud .tag-cloud:hover,
.mod_easyblogtagcloud .tag-cloud:focus,
.mod_easyblogtagcloud .tag-cloud:active {
  color: #fc615d;
  text-decoration: none;
}
.com_easyblog .mod_easyblogcategories .mod-item,
.ezb-mod .mod-item {
  border: none !important;
  margin: 0 !important;
  padding-top: 0 !important;
}
.com_easyblog .mod_easyblogcategories .mod-item + .mod-item,
.ezb-mod .mod-item + .mod-item {
  border-top: none !important;
  margin: 0 !important;
  padding-top: 0 !important;
}
.com_easyblog .mod_easyblogcategories .mod-item .mod-category-name a {
  background: url(../images/folder.png) no-repeat left center;
  font-weight: 400;
  padding: 3px 0 3px 24px;
}
.com_easyblog .mod_easyblogcategories .mod-item a {
  color: #666;
  font-weight: normal;
}
.com_easyblog .mod_easyblogcategories .mod-item a:hover,
.com_easyblog .mod_easyblogcategories .mod-item a:focus,
.com_easyblog .mod_easyblogcategories .mod-item a:active {
  color: #fc615d;
  text-decoration: none;
}
.com_easyblog .mod_easyblogcategories .avatar {
  width: 60px;
}
.latest-comments .mod-comment-head {
  border-top: 0;
  padding-top: 0;
}

.items-leading .leading {
  margin-bottom: 40px;
}
.items-row {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
.article-aside {
  color: #bbb;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}
.article-info {
  margin: 0;
  width: 80%;
  font-size: 12px;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  float: left;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd span {
  color: #777;
}
.view-article .page-header,
.view-article #system-message-container {
  margin-left: 60px;
}
.view-article .item-page {
  margin: auto;
  max-width: 740px;
  padding: 0 60px;
}

.view-article .popup-body .list-icons,
.item-page .list-icons {
  position: absolute;
  background: #f5f5f5;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
}
.view-article .popup-body .list-icons .addthis_toolbox,
.item-page .list-icons .addthis_toolbox {
  display: inline-block;
}
.view-article .popup-body .list-icons .menu-edit ul li,
.item-page .list-icons .menu-edit ul li {
  float: none;
  margin: 0;
}
.view-article .popup-body .list-icons .menu-edit ul li a,
.item-page .list-icons .menu-edit ul li a {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: block;
  color: #ccc;
}
.view-article .popup-body .list-icons .menu-edit ul li a i,
.item-page .list-icons .menu-edit ul li a i {
  vertical-align: middle;
  font-size: 24px;
  display: block;
  text-align: center;
  margin: auto;
  border: solid 1px transparent;
}
.view-article .popup-body .list-icons .menu-edit ul li a:hover,
.view-article .popup-body .list-icons .menu-edit ul li a:focus,
.view-article .popup-body .list-icons .menu-edit ul li a:active,
.item-page .list-icons .menu-edit ul li a:hover,
.item-page .list-icons .menu-edit ul li a:focus,
.item-page .list-icons .menu-edit ul li a:active {
  background-color: #cdcdcd;
  color: #fff;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.view-article .popup-body .list-icons .addthis_floating_style.addthis_32x32_style,
.view-article .popup-body .list-icons .addthis_floating_style.addthis_32x32_style .addthis_internal_container,
.item-page .list-icons .addthis_floating_style.addthis_32x32_style,
.item-page .list-icons .addthis_floating_style.addthis_32x32_style .addthis_internal_container {
  width: 60px;
}
.view-article .popup-body .list-icons .pull-left.item-image,
.view-article .popup-body .list-icons .pull-right.item-image,
.item-page .list-icons .pull-left.item-image,
.item-page .list-icons .pull-right.item-image {
  max-width: 100%;
}
.touch .popup-body .list-icons .menu-edit ul li a:hover,
.touch .popup-body .list-icons .menu-edit ul li a:focus,
.touch .popup-body .list-icons .menu-edit ul li a:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.view-article .popup-body .fb-comments,
.item-page .fb-comments {
  display: inline-block;
}
.menu-edit ul li {
  list-style: none;
  float: left;
  margin: 0 2px;
}
.menu-edit ul li a {
  color: #666;
  font-size: 0;
  text-decoration: none;
  text-indent: -999em;
}
.menu-edit ul li a i {
  font-size: 15px;
  display: block;
  text-indent: 0;
  line-height: 64px;
}
.menu-edit ul li a:hover,
.menu-edit ul li a:focus,
.menu-edit ul li a:active {
  color: #fc615d;
  text-decoration: none;
}
.fixel-grid-wrapper .fixel-grid .items .menu-edit ul {
  margin: 0 !important;
}
.fixel-grid-wrapper .fixel-grid .items .menu-edit ul li a {
  display: block;
  line-height: normal;
}
.fixel-grid-wrapper .fixel-grid .items .menu-edit ul li a i {
  line-height: normal;
}
.article-content-inner {
  padding-left: 30px;
}
.article-footer {
  color: #999;
  font-size: 14px;
  margin-bottom: 20px;
}
.article-image.pull-left {
  margin-bottom: 20px;
}
.article-image.pull-right {
  margin-bottom: 20px;
}
.item-page .item-image {
  max-width: 100%;
}
article img[align=left],
.img_caption.left,
.pull-left.item-image {
  margin: 0 20px 20px 0;
}
article img[align=right],
.img_caption.right,
.pull-right.item-image {
  margin: 0 0 20px 20px;
}
.pull-none.item-image {
  margin: 20px 0;
  text-align: center;
}

.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-horizontal .control-group,
.remind .form-horizontal .control-group {
  margin-bottom: 0;
}
.reset .form-actions,
.remind .form-actions {
  background: none;
  border-top: none;
  margin-top: 0;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eee;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  padding: 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}

.phrases-box input,
.phrases-box label,
.form-limit input,
.form-limit label,
.only label {
  display: inline-block;
  margin-right: 10px;
}
.phrases-box input {
  margin: 0;
}

.search-results {
  margin-top: 20px;
}
.search-results .result-title {
  font-size: 17px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 13px;
  color: #999;
}

.contact .map-container {
  margin-bottom: 30px;
}
.contact .thumbnail {
  border: none;
  margin: 30px 0 0;
  padding: 0;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.contact .jicons-text {
  font-weight: bold;
}
.contact .jicons-text i {
  margin-right: 15px;
}
.contact .control-group-header {
  margin-top: 15px;
}
.contact .contact-info {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.contact .control-contact {
  margin-bottom: 20px;
}
.contact .control-contact label,
.contact .control-contact input,
.contact .control-contact textarea {
  font-size: 13px;
}
.contact .re-captcha .control-group {
  margin-bottom: 0;
}
.contact .contact-view {
  padding: 40px;
}
.contact input[type=checkbox] {
  border: none;
  margin: 0;
  padding: 0;
  width: auto !important;
}
.contact #jform_contact_email_copy-lbl {
  display: inline-block;
  font-size: 13px;
}
.contact .control-group-footer {
  font-size: 13px;
}
.contact .contact-col1 {
  margin-left: 0 !important;
}
.contact .contact-col2 {
  background: #243651;
  color: #fff;
}
.contact .accordion-group {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.contact .accordion-group .accordion-heading {
  background: #eee;
}
.contact .accordion-group .accordion-heading:hover {
  background: #fff;
}
.contact .accordion-group .accordion-heading:hover a {
  color: #fc615d;
}
.contact .accordion-group .accordion-heading a {
  color: #666;
  font-weight: 400;
}
.contact .accordion-group .accordion-heading a:hover,
.contact .accordion-group .accordion-heading a:focus,
.contact .accordion-group .accordion-heading a:active {
  color: #fc615d;
  text-decoration: none;
}
.contact .accordion-group .contact-miscinfo .dl-horizontal dt {
  display: none;
}
.contact .accordion-group .contact-miscinfo .dl-horizontal dd {
  margin-left: 0;
}
.contact .accordion {
  padding: 40px;
}
.contact .accordion .control-contact input,
.contact .accordion .control-contact textarea {
  width: 95%;
}
.contact .accordion-inner {
  padding: 20px;
}
.contact .nav-tabs {
  margin: 40px 40px 0;
}

.contact .tab-content {
  background: #fff;
  border: solid 1px #ddd;
  border-top: none;
  margin: 0px 40px 40px;
  padding: 20px;
}
.contact .tab-content input,
.contact .tab-content textarea {
  border-color: #e5e5e5;
  background: #fff;
  width: 95%;
}
.contact .tab-content .contact-miscinfo .dl-horizontal dt {
  display: none;
}
.contact .tab-content .contact-miscinfo .dl-horizontal dd {
  margin-left: 0;
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items div.intro {
  clear: both;
  overflow: hidden;
}
.fixel-grid .category-item.items,
.fixel-grid .category-item.items.none,
.category-item {
  margin-top: 0;
  *zoom: 1;
}
.fixel-grid .category-item.items:before,
.fixel-grid .category-item.items:after,
.fixel-grid .category-item.items.none:before,
.fixel-grid .category-item.items.none:after,
.category-item:before,
.category-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.fixel-grid .category-item.items:after,
.fixel-grid .category-item.items.none:after,
.category-item:after {
  clear: both;
}
.fixel-grid .category-item.items > article .article_content,
.fixel-grid .category-item.items.none > article .article_content,
.category-item > article .article_content {
  padding: 40px;
}
.fixel-grid .category-item.items > article .page-header,
.fixel-grid .category-item.items.none > article .page-header,
.category-item > article .page-header {
  border-bottom: none;
  color: #111;
  font-family: 'novecento_widedemibold', sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0 -20px 20px;
  padding: 0;
  text-align: center;
}
.fixel-grid .category-item.items > article .page-header a,
.fixel-grid .category-item.items.none > article .page-header a,
.category-item > article .page-header a {
  color: #111;
}
.fixel-grid .category-item.items > article .page-header a:hover,
.fixel-grid .category-item.items > article .page-header a:focus,
.fixel-grid .category-item.items > article .page-header a:active,
.fixel-grid .category-item.items.none > article .page-header a:hover,
.fixel-grid .category-item.items.none > article .page-header a:focus,
.fixel-grid .category-item.items.none > article .page-header a:active,
.category-item > article .page-header a:hover,
.category-item > article .page-header a:focus,
.category-item > article .page-header a:active {
  color: #fc615d;
  text-decoration: none;
}
.fixel-grid .category-item.items > article .page-header .fixel-cat-toggle,
.fixel-grid .category-item.items.none > article .page-header .fixel-cat-toggle,
.category-item > article .page-header .fixel-cat-toggle {
  bottom: 0;
  border: #eee;
  background: #eee;
  color: #666;
  font-size: 18px;
  padding: 0;
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
}
.fixel-grid .category-item.items > article .page-header .fixel-cat-toggle span,
.fixel-grid .category-item.items.none > article .page-header .fixel-cat-toggle span,
.category-item > article .page-header .fixel-cat-toggle span {
  display: inline-block;
  line-height: 34px;
  text-align: center;
}
.fixel-grid .category-item.items > article .page-header .fixel-cat-toggle:hover,
.fixel-grid .category-item.items > article .page-header .fixel-cat-toggle:focus,
.fixel-grid .category-item.items > article .page-header .fixel-cat-toggle:active,
.fixel-grid .category-item.items > article .page-header .fixel-cat-toggle.active,
.fixel-grid .category-item.items.none > article .page-header .fixel-cat-toggle:hover,
.fixel-grid .category-item.items.none > article .page-header .fixel-cat-toggle:focus,
.fixel-grid .category-item.items.none > article .page-header .fixel-cat-toggle:active,
.fixel-grid .category-item.items.none > article .page-header .fixel-cat-toggle.active,
.category-item > article .page-header .fixel-cat-toggle:hover,
.category-item > article .page-header .fixel-cat-toggle:focus,
.category-item > article .page-header .fixel-cat-toggle:active,
.category-item > article .page-header .fixel-cat-toggle.active {
  background: #fc615d;
  border-color: #fc615d;
  color: #fff;
  text-decoration: none;
}
.fixel-grid .category-item.items > article .category-desc,
.fixel-grid .category-item.items.none > article .category-desc,
.category-item > article .category-desc {
  overflow: hidden;
}
.fixel-grid .category-item.items > article:hover .pull-left.item-image,
.fixel-grid .category-item.items > article:hover .pull-right.item-image,
.fixel-grid .category-item.items > article:hover img,
.fixel-grid .category-item.items > article:hover .category-desc img,
.fixel-grid .category-item.items > article:focus .pull-left.item-image,
.fixel-grid .category-item.items > article:focus .pull-right.item-image,
.fixel-grid .category-item.items > article:focus img,
.fixel-grid .category-item.items > article:focus .category-desc img,
.fixel-grid .category-item.items > article:active .pull-left.item-image,
.fixel-grid .category-item.items > article:active .pull-right.item-image,
.fixel-grid .category-item.items > article:active img,
.fixel-grid .category-item.items > article:active .category-desc img,
.fixel-grid .category-item.items.none > article:hover .pull-left.item-image,
.fixel-grid .category-item.items.none > article:hover .pull-right.item-image,
.fixel-grid .category-item.items.none > article:hover img,
.fixel-grid .category-item.items.none > article:hover .category-desc img,
.fixel-grid .category-item.items.none > article:focus .pull-left.item-image,
.fixel-grid .category-item.items.none > article:focus .pull-right.item-image,
.fixel-grid .category-item.items.none > article:focus img,
.fixel-grid .category-item.items.none > article:focus .category-desc img,
.fixel-grid .category-item.items.none > article:active .pull-left.item-image,
.fixel-grid .category-item.items.none > article:active .pull-right.item-image,
.fixel-grid .category-item.items.none > article:active img,
.fixel-grid .category-item.items.none > article:active .category-desc img,
.category-item > article:hover .pull-left.item-image,
.category-item > article:hover .pull-right.item-image,
.category-item > article:hover img,
.category-item > article:hover .category-desc img,
.category-item > article:focus .pull-left.item-image,
.category-item > article:focus .pull-right.item-image,
.category-item > article:focus img,
.category-item > article:focus .category-desc img,
.category-item > article:active .pull-left.item-image,
.category-item > article:active .pull-right.item-image,
.category-item > article:active img,
.category-item > article:active .category-desc img {
  transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1s);
}
.fixel-sub-category.show .items article {
  background: #f5f5f5;
}
.fixel-sub-category.show .items article .page-header {
  color: #fc615d;
}
.fixel-sub-category.show .items article .page-header a {
  color: #fc615d !important;
}
.fixel-sub-category.show .items article .page-header a:hover,
.fixel-sub-category.show .items article .page-header a:focus,
.fixel-sub-category.show .items article .page-header a:active {
  color: #fb1812 !important;
}
.fixel-sub-category.show .items article .page-header .fixel-cat-toggle {
  background: #fff;
  border-color: #fff;
  color: #666 !important;
}
.fixel-sub-category.show .items article .page-header .fixel-cat-toggle:hover,
.fixel-sub-category.show .items article .page-header .fixel-cat-toggle:focus,
.fixel-sub-category.show .items article .page-header .fixel-cat-toggle:active {
  background: #fff;
  color: #fff !important;
}
.fixel-sub-category.show .items article .page-header .fixel-cat-toggle.active {
  color: #fff !important;
}
.category-page .fixel-grid .items article {
  background: #111;
}
.category-page .fixel-grid .items article .article_content {
  padding: 0 !important;
}
.category-item.items.rotateY article {
  background: none;
  perspective: 1000;
  -webkit-perspective: 1000;
}
.category-item.items.rotateY article .item-image-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.category-item.items.rotateY article .category-desc {
  -moz-transform: perspective(800px) rotateY(180deg);
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.category-item.items.rotateY article .category-desc .page-header {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 5px;
  overflow: hidden;
  text-transform: none;
  max-height: none;
}
.category-item.items.rotateY article .category-desc .page-header a {
  padding-bottom: 20px;
  color: #fff;
}
.category-item.items.rotateY article .category-desc .page-header a:hover,
.category-item.items.rotateY article .category-desc .page-header a:focus,
.category-item.items.rotateY article .category-desc .page-header a:active {
  color: #fc615d;
}
.category-item.items.rotateY article .category-desc .page-header a:after {
  background: rgba(255,255,255,0.6);
  content: "";
  display: inline-block;
  height: 2px;
  width: 90%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.category-item.items.rotateY article .category-desc .category-intro {
  display: block;
  overflow: hidden;
  height: 60px;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}
.category-item.items.rotateY:hover .category-image {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  -moz-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
}
.category-item.items.rotateY:hover .category-desc {
  -moz-transform: perspective(800px) rotateY(0);
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
}
.category-item.items.rotateY .category-image,
.category-item.items.rotateY .category-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.category-item.items.rotateX article {
  background: none;
  perspective: 1000;
  -webkit-perspective: 1000;
}
.category-item.items.rotateX article .item-image-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.category-item.items.rotateX article .category-image,
.category-item.items.rotateX article .category-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.category-item.items.rotateX article .category-desc {
  -moz-transform: perspective(800px) rotateX(180deg);
  -webkit-transform: perspective(800px) rotateX(180deg);
  transform: perspective(800px) rotateX(180deg);
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.category-item.items.rotateX article .category-desc .page-header {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 5px;
  overflow: hidden;
  text-transform: none;
  max-height: none;
}
.category-item.items.rotateX article .category-desc .page-header a {
  padding-bottom: 20px;
  color: #fff;
}
.category-item.items.rotateX article .category-desc .page-header a:hover,
.category-item.items.rotateX article .category-desc .page-header a:focus,
.category-item.items.rotateX article .category-desc .page-header a:active {
  color: #fc615d;
}
.category-item.items.rotateX article .category-desc .page-header a:after {
  background: rgba(255,255,255,0.6);
  content: "";
  display: inline-block;
  height: 2px;
  width: 90%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.category-item.items.rotateX article .category-desc .category-intro {
  display: block;
  overflow: hidden;
  height: 60px;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}
.category-item.items.rotateX:hover .category-image {
  -webkit-transform: perspective(800px) rotateX(-180deg);
  -moz-transform: perspective(800px) rotateX(-179.9deg);
  transform: perspective(800px) rotateX(-179.9deg);
}
.category-item.items.rotateX:hover .category-desc {
  -moz-transform: perspective(800px) rotateX(0);
  -webkit-transform: perspective(800px) rotateX(0);
  transform: perspective(800px) rotateX(0);
}
.category-item.items.none .page-header {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 5px;
  overflow: hidden;
  text-transform: none;
  max-height: none;
}
.category-item.items.none .page-header a {
  padding-bottom: 20px;
  color: #fff !important;
}
.category-item.items.none .page-header a:hover,
.category-item.items.none .page-header a:focus,
.category-item.items.none .page-header a:active {
  color: #fc615d;
}
.category-item.items.none .page-header a:after {
  background: rgba(255,255,255,0.6);
  content: "";
  display: inline-block;
  height: 2px;
  width: 90%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.category-item.items.none .category-desc {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.category-item.items.none:hover .category-desc {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.ie8 .category-item.items.none .category-desc {
  background: #000;
}
.category-list {
  margin: -40px;
}





#fixel-top-panel {
  overflow: hidden;
  position: absolute;
  top: -10000px;
  width: 100%;
  padding: 0;
  background-color: #000;
  border-bottom: 2px solid #1d1d1d;
  outline: none;
  font-size: 13px;
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  -ms-transform: translate(0,-100%);
  -o-transform: translate(0,-100%);
  transform: translate(0,-100%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
#fixel-top-panel.reveal .container {
  visibility: visible;
}
#fixel-top-panel .container {
  visibility: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  background: none;
}
#fixel-top-panel .module-title {
  font-size: 15px;
  color: #fff;
  line-height: 1;
}
#fixel-top-pannel-link {
  position: absolute;
  z-index: 9999;
  right: 0;
  height: 60px;
  width: 60px;
  background: #000;
  text-align: center;
  line-height: 60px;
  border-left: 1px solid #1d1d1d;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
#fixel-top-pannel-link:hover,
#fixel-top-pannel-link:focus,
#fixel-top-pannel-link:active {
  text-decoration: none;
  outline: none;
}
.fixel-grid {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.fixel-grid.ready {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.fixel-grid .items {
  z-index: 2;
  overflow: hidden;
}
.fixel-grid .items article {
  /*cursor: pointer;*/
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}
.fixel-grid .items article .item-desc {
  background: rgba(0,0,0,0.75);
  bottom: 0px;
  color: #fff;
  left: 0;
  position: absolute;
  /*padding: 15px;*/
  right: 0;
  vertical-align: middle;
}
.fixel-grid .items.poping article:before {
  background: #000;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.fixel-grid .items.text article {
  background: #fff;
}
.fixel-grid .items.text .article_content {
  padding: 40px;
}
.fixel-grid .items.text .article_content .article-title {
  color: #111;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 5px;
  max-height: 70px;
  overflow: hidden;
}
.fixel-grid .items.text .article_content .article-title a {
  color: #111;
  -webkit-transition: color 0.2s linear 0s;
  -moz-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}
.fixel-grid .items.text .article_content .article-title a:hover,
.fixel-grid .items.text .article_content .article-title a:focus,
.fixel-grid .items.text .article_content .article-title a:active {
  color: #fc615d;
  text-decoration: none;
}
.fixel-grid .items.text .article_content .item-image {
  display: none;
}
.fixel-grid .items.text .article_content .article-intro {
  font-size: 14px;
  font-weight: 300;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.fixel-grid .items.text .article_content p:after {
  background: #fff;
  display: block;
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22px;
}
.fixel-grid .items.text:hover .article-title a {
  color: #fc615d;
}
.fixel-grid .items.image.none article {
  background: #111;
}
.fixel-grid .items.image.none article .item-desc {
  -webkit-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  -moz-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  -ms-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  -o-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.fixel-grid .items.image.none article:hover .item-desc {
  -webkit-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  -moz-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  -ms-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  -o-transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.fixel-grid .items.image.none article .item-image-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.fixel-grid .items.image.none article .item-image-wrap .pull-left.item-image,
.fixel-grid .items.image.none article .item-image-wrap .pull-right.item-image,
.fixel-grid .items.image.none article .item-image-wrap img {
  float: none;
  margin: 0 !important;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.fixel-grid .items.image.none article:hover .item-image-wrap,
.fixel-grid .items.image.none article:focus .item-image-wrap,
.fixel-grid .items.image.none article:active .item-image-wrap {
  background: #000000;
}
.fixel-grid .items.image.none article:hover .pull-left.item-image,
.fixel-grid .items.image.none article:hover .pull-right.item-image,
.fixel-grid .items.image.none article:hover img,
.fixel-grid .items.image.none article:focus .pull-left.item-image,
.fixel-grid .items.image.none article:focus .pull-right.item-image,
.fixel-grid .items.image.none article:focus img,
.fixel-grid .items.image.none article:active .pull-left.item-image,
.fixel-grid .items.image.none article:active .pull-right.item-image,
.fixel-grid .items.image.none article:active img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.fixel-grid .items.image.rotateY article {
  background: none;
}
.fixel-grid .items.image.rotateY article .flipper {
  position: relative;
  width: 100%;
  height: 100%;
}
.fixel-grid .items.image.rotateY article .front,
.fixel-grid .items.image.rotateY article .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.fixel-grid .items.image.rotateY article .front {
  background: #fff;
}
.fixel-grid .items.image.rotateY article .back {
  -moz-transform: perspective(800px) rotateY(180deg);
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  /*padding: 40px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fixel-grid .items.image.rotateY article .back .article-intro {
  display: block;
  overflow: hidden;
  height: 60px;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}
.fixel-grid .items.image.rotateY:hover .front {
  -webkit-transform: perspective(800px) rotateY(-180deg);
  -moz-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
}
.fixel-grid .items.image.rotateY:hover .back {
  -moz-transform: perspective(800px) rotateY(0);
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
}
.fixel-grid .items.image.rotateX article {
  background: none;
}
.fixel-grid .items.image.rotateX article .flipper {
  position: relative;
  width: 100%;
  height: 100%;
}
.fixel-grid .items.image.rotateX article .front,
.fixel-grid .items.image.rotateX article .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.fixel-grid .items.image.rotateX article .front {
  background: #fff;
}
.fixel-grid .items.image.rotateX article .back {
  -moz-transform: perspective(800px) rotateX(180deg);
  -webkit-transform: perspective(800px) rotateX(180deg);
  transform: perspective(800px) rotateX(180deg);
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  /*padding: 40px;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fixel-grid .items.image.rotateX article .back p {
    margin: 0px;
  padding: 0px;
}

.fixel-grid .items.image.rotateX article .back .article-intro {
  display: block;
  overflow: hidden;
  height: 60px;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}
.fixel-grid .items.image.rotateX:hover .front {
  -webkit-transform: perspective(800px) rotateX(-180deg);
  -moz-transform: perspective(800px) rotateX(-179.9deg);
  transform: perspective(800px) rotateX(-179.9deg);
}
.fixel-grid .items.image.rotateX:hover .back {
  -moz-transform: perspective(800px) rotateX(0);
  -webkit-transform: perspective(800px) rotateX(0);
  transform: perspective(800px) rotateX(0);
}
.fixel-grid .items.video article {
  height: auto;
}
.fixel-grid .item-video-wrap {
  background: #000;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.fixel-grid .item-video-wrap .item-image a {
  color: #fff;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.fixel-grid .item-video-wrap .item-image a:hover,
.fixel-grid .item-video-wrap .item-image a:focus,
.fixel-grid .item-video-wrap .item-image a:active {
  color: #fff;
  text-decoration: none;
}
.fixel-grid .item-video-wrap .item-image a:hover .icon-play-circle,
.fixel-grid .item-video-wrap .item-image a:focus .icon-play-circle,
.fixel-grid .item-video-wrap .item-image a:active .icon-play-circle {
  color: #fff;
}
.fixel-grid .item-video-wrap .item-image a img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 100%;
}
.fixel-grid .item-video-wrap .item-image a .icon-play-circle {
  color: #fff;
  font-size: 60px;
  display: inline-block;
  margin-top: 40%;
  text-align: center;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.fixel-grid .item-video-wrap:hover .item-image a .icon-play-circle,
.fixel-grid .item-video-wrap:focus .item-image a .icon-play-circle,
.fixel-grid .item-video-wrap:active .item-image a .icon-play-circle {
  opacity: 0.99;
  filter: alpha(opacity=99);
}
.fixel-grid .item-video-wrap .item-placeholder {
  text-align: center;
}
.fixel-grid .item-video-wrap .item-placeholder .icon-facetime-video {
  color: #fff;
  font-size: 60px;
  display: inline-block;
  margin-top: 40%;
  text-align: center;
  vertical-align: middle;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-backface-visibility: hidden;
}
.fixel-grid .item-video-wrap .item-placeholder .icon-facetime-video:hover,
.fixel-grid .item-video-wrap .item-placeholder .icon-facetime-video:focus,
.fixel-grid .item-video-wrap .item-placeholder .icon-facetime-video:active {
  opacity: 0.99;
  filter: alpha(opacity=99);
}
.fixel-grid .item-video-wrap .item-desc {
  opacity: 0;
  filter: alpha(opacity=0);
}
.fixel-grid .item-video-wrap:hover .item-desc {
  opacity: 1;
  filter: alpha(opacity=100);
}
.fixel-grid .items.gallery article {
  background-color: #111;
}
.fixel-grid .items.gallery article .item-placeholder {
  text-align: center;
}
.fixel-grid .items.gallery article .item-placeholder .icon-facetime-video {
  color: #fff;
  font-size: 60px;
  display: inline-block;
  margin-top: 40%;
  text-align: center;
  vertical-align: middle;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-backface-visibility: hidden;
}
.fixel-grid .items.gallery article .item-placeholder .icon-facetime-video:hover,
.fixel-grid .items.gallery article .item-placeholder .icon-facetime-video:focus,
.fixel-grid .items.gallery article .item-placeholder .icon-facetime-video:active {
  opacity: 0.99;
  filter: alpha(opacity=99);
}
.fixel-grid .grid-1x1 {
  width: 16.6%;
  max-height: 187px;
}
.fixel-grid .grid-2x2 {
  width: 33.3%;
  max-height: 374px;
}
.fixel-grid .grid-3x2 {
  width: 49.8%;
  max-height: 374px;
}
.fixel-grid .grid-2x1 {
  width: 33.3%;
  max-height: 187px;
}

.fixel-grid .grid-1x2 {
  width: 16.6%;
}
.fixel-grid .grid-1x2 .item-gallery-wrap .item img {
  width: auto !important;
  height: 100%;
  max-width: none !important;
}

.bsl .bx-viewport {
	position: relative;
} 
	.bsl .bx-prev {
		position: absolute;
		margin-top: -16px;
		outline: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		z-index: 9999;
		left: 10px;
		top: 50%;
		overflow: hidden;
		display: inline-block;
		background: url(controls.png) no-repeat 0 -32px;
	}	
	.bsl .bx-next {
		position: absolute;
		margin-top: -16px;
		outline: 0;
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		z-index: 9999;
		right: 10px;
		top: 50%;
		overflow: hidden;
		display: inline-block;
		background: url(controls.png) no-repeat -43px -32px;
	}



.bsl ul {
	margin: 0 !important;
	padding: 0 !important;
}

.fixel-grid .corner-stamp {
  position: absolute;
  top: 0;
  right: 0;
}
.fixel-grid .fixel-sub-category .items {
  display: none;
}
.fixel-grid .fixel-sub-category.show .items {
  display: block;
}
.fixel-grid.ready .items {
  max-height: none;
}
.fixel-grid.ready .items p{
  margin: 0px;
  padding: 0px;
}
.fixel-grid #page-nav {
  display: none;
}
.fixel-grid #blank-item {
  height: 0 !important;
  max-height: 0 !important;
}
.re-layout .fixel-grid .item-hide {
  display: none !important;
}
#fixel-placeholder {
  position: relative;
  background: #111;
}
.lt-ie10 .fixel-grid .items article .item-desc {
  background: #222;
}
.lt-ie10 .fixel-grid .item-video-wrap .item-image a img {
  top: 0;
}
.lt-ie10 .fixel-grid .item-video-wrap .item-image a .icon-play-circle {
  z-index: 2;
  position: relative;
}
.lt-ie10 .fixel-grid .items.image.rotateX article .front,
.lt-ie10 .fixel-grid .items.image.rotateY article .front,
.lt-ie10 .category-item.items.rotateX article .category-image,
.lt-ie10 .category-item.items.rotateY article .category-image {
  z-index: 2;
}
.lt-ie10 .fixel-grid .items.image.rotateX article .back,
.lt-ie10 .fixel-grid .items.image.rotateY article .back,
.lt-ie10 .category-item.items.rotateX article .category-desc,
.lt-ie10 .category-item.items.rotateY article .category-desc {
  z-index: 1;
}
.lt-ie10 .fixel-grid .items.image.rotateX article:hover .back,
.lt-ie10 .fixel-grid .items.image.rotateY article:hover .back,
.lt-ie10 .category-item.items.rotateX article:hover .category-desc,
.lt-ie10 .category-item.items.rotateY article:hover .category-desc {
  z-index: 2;
}
.lt-ie10 .fixel-grid .items.image.rotateX article:hover .front,
.lt-ie10 .fixel-grid .items.image.rotateY article:hover .front,
.lt-ie10 .category-item.items.rotateX article:hover .category-image,
.lt-ie10 .category-item.items.rotateY article:hover .category-image {
  z-index: 1;
}

@media (max-width: 570px) {
  .reset .control-group input,
  .remind .control-group input {
    width: 90%;
  }
  .reset .form-actions,
  .remind .form-actions {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .registration .form-horizontal .control-label {
    width: 100%;
  }
  .registration .form-horizontal .controls {
    margin-left: 0;
    width: 100%;
  }
  .registration .form-horizontal .controls input {
    width: 95%;
  }
  .registration .form-horizontal .form-actions {
    padding-left: 0;
  }
}

/* @media (max-width: 1208px) {
  .fixel-grid .items.text .article_content {
    padding: 20px;
  }
  .fixel-grid .items.text .article_content .article-title {
    max-height: 60px;
  }
  .fixel-grid .items.text .article_content .article-intro {
    max-height: 40px;
    overflow: hidden;
  }
  .fixel-grid .items.image.rotateY article .item-desc .article-intro,
  .fixel-grid .items.image.rotateX article .item-desc .article-intro {
    display: none;
  }
  .fixel-grid .items.blue article {
    background: #34609D;
  }
} */

/* @media (max-width: 1024px) {
  .fixel-grid .items.text .article_content {
    padding: 20px;
  }
  .fixel-grid .items.text .article_content .article-title {
    max-height: 70px;
  }
  .fixel-grid .items.text .article_content .article-intro {
    max-height: 40px;
    overflow: hidden;
  }
  .fixel-grid .items.image.rotateY article .item-desc .article-intro,
  .fixel-grid .items.image.rotateX article .item-desc .article-intro {
    display: none;
  }
  .fixel-grid .items.blue article {
    background: #34609D;
  }
} */

/* @media (max-width: 979px) {
  .fixel-grid .items.text .article_content .article-title {
    max-height: 45px;
    min-height: auto;
    position: relative;
  }
  .fixel-grid .items.text .article_content .article-title a:after {
    bottom: 0;
    content: "...";
    color: #111;
    display: block;
    font-size: 13px;
    position: absolute;
    right: 0;
    width: 12px;
  }
} */

/* @media (max-width: 767px) {
  .fixel-grid .grid-1x1 {
	width: 187px !important;
	height: 187px !important;
  }
  .fixel-grid .grid-2x1 {
	width: 374px !important;
	height: 187px !important;
  }
}  */


